인공지능_Webserver/SF_OP1_AI Plant_2104012.json
[{"id":"8a52cf12.23352","type":"tab","label":"SF_OP1_AI Plant","disabled":false,"info":""},{"id":"6a80b06c.76e16","type":"ui_button","z":"8a52cf12.23352","name":"","group":"b879de1f.125eb","order":23,"width":6,"height":1,"passthru":false,"label":"Get Picture & Infer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":380,"wires":[["27fd698f.36cf96"]]},{"id":"27fd698f.36cf96","type":"http request","z":"8a52cf12.23352","name":"Image Capture Command","method":"GET","ret":"bin","paytoqs":"body","url":"http://192.168.219.112/capture","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":280,"wires":[["286571c7.4b73be","45a246ca.85ceb8"]]},{"id":"eca19143.cc3a9","type":"inject","z":"8a52cf12.23352","name":"Debug-Image Capture","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":200,"wires":[["27fd698f.36cf96"]]},{"id":"286571c7.4b73be","type":"base64","z":"8a52cf12.23352","name":"","action":"","property":"payload","x":420,"y":160,"wires":[["7a8e2472.30c6fc","afdae1de.e3389"]]},{"id":"5bf5953f.063a0c","type":"function","z":"8a52cf12.23352","name":"Class 분리","func":"let data = msg.payload[0];\nlet arr = [];\nif(data.class != null) {\n  arr.push(data.class);\n}\nmsg.payload = arr.join(\",\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":580,"wires":[["c5f6dd6d.0609b","7f3d53c2.fd6bec"]]},{"id":"c5f6dd6d.0609b","type":"debug","z":"8a52cf12.23352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":480,"wires":[]},{"id":"7f3d53c2.fd6bec","type":"ui_text","z":"8a52cf12.23352","group":"b879de1f.125eb","order":26,"width":6,"height":1,"name":"","label":"인식결과(인공지능)","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":720,"wires":[]},{"id":"8b549863.b342c8","type":"ui_button","z":"8a52cf12.23352","name":"","group":"b879de1f.125eb","order":20,"width":6,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":760,"wires":[["cbc7d07f.90fbc"]]},{"id":"cbc7d07f.90fbc","type":"function","z":"8a52cf12.23352","name":"","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":680,"wires":[["7f3d53c2.fd6bec"]]},{"id":"afdae1de.e3389","type":"template","z":"8a52cf12.23352","name":"Img width Setting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"640px\" height=\"480px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":610,"y":380,"wires":[["146ed6e1.d33be9"]]},{"id":"146ed6e1.d33be9","type":"ui_template","z":"8a52cf12.23352","group":"b879de1f.125eb","name":"Capture Image","order":3,"width":13,"height":10,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":660,"y":280,"wires":[[]]},{"id":"e0ad54b6.51cf48","type":"inject","z":"8a52cf12.23352","name":"Debug-Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":580,"wires":[["cbc7d07f.90fbc"]]},{"id":"c1eaba6a.909a08","type":"ui_template","z":"8a52cf12.23352","group":"b879de1f.125eb","name":"Live Steaming","order":1,"width":13,"height":10,"format":"<div>\n    <img src=\"http://192.168.219.112:81/stream\" width=\"640px\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":140,"wires":[[]]},{"id":"45a246ca.85ceb8","type":"delay","z":"8a52cf12.23352","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":380,"wires":[["7f9e908.5ab537"]]},{"id":"7f9e908.5ab537","type":"teachable machine","z":"8a52cf12.23352","name":"Infer","mode":"online","modelUrl":"https://teachablemachine.withgoogle.com/models/6GhjlBP5X/","localModel":"teachable_model","output":"all","activeThreshold":true,"threshold":"50","activeMaxResults":false,"maxResults":3,"passThrough":false,"x":370,"y":480,"wires":[["5bf5953f.063a0c"]]},{"id":"7a8e2472.30c6fc","type":"image","z":"8a52cf12.23352","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":640,"y":140,"wires":[]},{"id":"20ac7ebc.966e52","type":"ui_text","z":"8a52cf12.23352","group":"b879de1f.125eb","order":14,"width":6,"height":1,"name":"","label":"Live Video","format":"{{msg.payload}}","layout":"row-left","x":510,"y":820,"wires":[]},{"id":"70b86236.d94dcc","type":"ui_text","z":"8a52cf12.23352","group":"b879de1f.125eb","order":16,"width":6,"height":1,"name":"","label":"Capture Image","format":"{{msg.payload}}","layout":"row-spread","x":300,"y":820,"wires":[]},{"id":"b879de1f.125eb","type":"ui_group","name":"AI-Plant Growth Judgment","tab":"eb44725.2c5b19","order":1,"disp":true,"width":27,"collapse":false},{"id":"eb44725.2c5b19","type":"ui_tab","name":"SF_OP1_AI Plant","icon":"dashboard","order":5,"disabled":false,"hidden":false}]