인공지능_Webserver/SF_OP1_Big data Visual_210402.json
[{"id":"f44e0f12.4dd51","type":"tab","label":"SF_OP1_Big data Visual","disabled":false,"info":""},{"id":"99bc11e0.db543","type":"ui_date_picker","z":"f44e0f12.4dd51","name":"","label":"input date_Line","group":"6024fe80.a1b6a","order":1,"width":6,"height":1,"passthru":true,"topic":"","x":320,"y":100,"wires":[["16c5f8f7.58dbb7"]]},{"id":"16c5f8f7.58dbb7","type":"function","z":"f44e0f12.4dd51","name":"Select Data Daily","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth() + 1;\nvar year = d.getFullYear();\n\nvar dateF = year + \"-\" + month + \"-\" + day + \" 00:00:00\";\nvar dateE = year + \"-\" + month + \"-\" + day + \" 23:59:59\";\n\nmsg.topic = 'SELECT temp, humidity, date FROM sensor WHERE date between \\'' + dateF + '\\' and \\'' + dateE + '\\' ORDER BY DATE asc;';\nmsg.payload = { name: 'Adrien', age: 30 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":100,"wires":[["c7b6a291.d661d","36287e15.2e8832"]]},{"id":"c7b6a291.d661d","type":"Stackhero-MySQL","z":"f44e0f12.4dd51","server":"8ecbad02.4a884","name":"","x":760,"y":160,"wires":[["31fe39f8.2801a6","81b6ed0d.3f9b2"]]},{"id":"de401ba.20829e8","type":"ui_chart","z":"f44e0f12.4dd51","name":"","group":"6024fe80.a1b6a","order":3,"width":20,"height":8,"label":"Line chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1240,"y":240,"wires":[[]]},{"id":"31fe39f8.2801a6","type":"function","z":"f44e0f12.4dd51","name":"Make Data For Line Chart","func":"var m = {};\nm.labels = [(msg.payload[0].date)];\nvar data0 = [(msg.payload[0].temp)];\nvar data1 = [(msg.payload[0].humidity)]\nm.series = [\"temp\", 'humidity'];\nvar arrayLength = msg.payload.length;\nfor (var i = 0; i < arrayLength; i++) {\n    m.labels.push((msg.payload[i].date));\n    data0.push((msg.payload[i].temp));\n    data1.push((msg.payload[i].humidity));\n}\nm.data = [data0, data1];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":180,"wires":[["de401ba.20829e8"]]},{"id":"36287e15.2e8832","type":"debug","z":"f44e0f12.4dd51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":80,"wires":[]},{"id":"81b6ed0d.3f9b2","type":"debug","z":"f44e0f12.4dd51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":100,"wires":[]},{"id":"401559ef.d70cd8","type":"ui_date_picker","z":"f44e0f12.4dd51","name":"from_date","label":"From date","group":"2a4e4539.2e99da","order":1,"width":6,"height":1,"passthru":false,"topic":"","x":180,"y":300,"wires":[["ae252023.ff242"]]},{"id":"19f4f81.7797f08","type":"function","z":"f44e0f12.4dd51","name":"Select Day Data","func":"var fdate = flow.get('start_date') || 0;\nif (fdate === 0)\n{\n    msg.payload = 0;\n    \n    return null;\n}\n\nvar edate = flow.get('end_date') || 0;\nif (edate === 0)\n{\n    msg.payload = 0;\n    \n    return null;\n}\n\nvar from_date = new Date(flow.get('start_date'));\nvar end_date = new Date(flow.get('end_date'));\n\n//select DATE_FORMAT(DATE, '%Y-%m-%d'), max(temp), min(temp), avg(temp) from sensor GROUP BY DATE_FORMAT(date, '%Y%m%d') ORDER BY date ASC;\n\nvar fday = from_date.getDate();\nvar fmonth = from_date.getMonth() + 1;\nvar fyear = from_date.getFullYear();\n\nvar eday = end_date.getDate();\nvar emonth = end_date.getMonth() + 1;\nvar eyear = end_date.getFullYear();\n\nvar dateF = fyear + \"-\" + fmonth + \"-\" + fday + \" 00:00:00\";\nvar dateE = eyear + \"-\" + emonth + \"-\" + eday + \" 23:59:59\";;\n\nmsg.topic = 'select DATE_FORMAT(DATE, \\'%Y-%m-%d\\') as datei, avg(temp) as avgtemp, avg(humidity) as avghumi from sensor WHERE date >=  \\'' + dateF + '\\' AND date < \\'' +  dateE + '\\' GROUP BY DATE_FORMAT(date, \\'%Y%m%d\\') ORDER BY date ASC';\nmsg.payload = { name: 'Adrien', age: 30 };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":460,"wires":[["89b38cf7.8556d","d3afed15.4b431"]]},{"id":"f3ab3f64.4e685","type":"ui_date_picker","z":"f44e0f12.4dd51","name":"to_date","label":"To date","group":"2a4e4539.2e99da","order":2,"width":6,"height":1,"passthru":true,"topic":"","x":180,"y":360,"wires":[["af17e462.103118"]]},{"id":"89b38cf7.8556d","type":"Stackhero-MySQL","z":"f44e0f12.4dd51","server":"8ecbad02.4a884","name":"","x":690,"y":500,"wires":[["8e1ef47b.41dc78","915b3016.60a83"]]},{"id":"3acadc82.69d994","type":"ui_button","z":"f44e0f12.4dd51","name":"","group":"2a4e4539.2e99da","order":4,"width":6,"height":1,"passthru":false,"label":"Submit_Bar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":190,"y":460,"wires":[["19f4f81.7797f08"]]},{"id":"8e1ef47b.41dc78","type":"function","z":"f44e0f12.4dd51","name":"Make Day Data","func":"var m = {};\nm.labels = [(msg.payload[0].datei)];\nvar data0 = [(msg.payload[0].avgtemp)];\nvar data1 = [(msg.payload[0].avghumi)]\nm.series = [\"temp\", 'humidity'];\nvar arrayLength = msg.payload.length;\nfor (var i = 0; i < arrayLength; i++) {\n    m.labels.push((msg.payload[i].datei));\n    data0.push((msg.payload[i].avgtemp));\n    data1.push((msg.payload[i].avghumi));\n}\nm.data = [data0, data1];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":560,"wires":[["31ed2f0b.40ce4"]]},{"id":"31ed2f0b.40ce4","type":"ui_chart","z":"f44e0f12.4dd51","name":"","group":"2a4e4539.2e99da","order":6,"width":20,"height":8,"label":"Bar chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1140,"y":620,"wires":[[]]},{"id":"ae252023.ff242","type":"function","z":"f44e0f12.4dd51","name":"Set Start Date to Flow Data","func":"flow.set('start_date', msg.payload);\n\nmsg.payload = new Date(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["39738471.490d7c"]]},{"id":"af17e462.103118","type":"function","z":"f44e0f12.4dd51","name":"Set End Date to Flow Data","func":"flow.set('end_date', msg.payload);\n\nmsg.payload = new Date(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":360,"wires":[["39738471.490d7c"]]},{"id":"39738471.490d7c","type":"debug","z":"f44e0f12.4dd51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":340,"wires":[]},{"id":"c87b8837.f47bb8","type":"inject","z":"f44e0f12.4dd51","name":"INIT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":220,"wires":[["386305d3.f0bbfa"]]},{"id":"915b3016.60a83","type":"debug","z":"f44e0f12.4dd51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":480,"wires":[]},{"id":"d3afed15.4b431","type":"debug","z":"f44e0f12.4dd51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":440,"wires":[]},{"id":"62ea2a40.dac1e4","type":"function","z":"f44e0f12.4dd51","name":"Select Date For Time","func":"var setMonth = new Date(flow.get('set_month'));\n\n//select DATE_FORMAT(DATE, '%Y-%m-%d'), max(temp), min(temp), avg(temp) from sensor GROUP BY DATE_FORMAT(date, '%Y%m%d') ORDER BY date ASC;\n\nvar fmonth = setMonth.getMonth();\nvar fyear = setMonth.getFullYear();\n\nvar emonth = setMonth.getMonth() + 1;\nvar eyear = setMonth.getFullYear();\n\nvar dateF = fyear + \"-\" + fmonth + \"-01 00:00:00\";\nvar dateE = eyear + \"-\" + emonth + \"-30 23:59:59\";;\n\nmsg.topic = 'select DATE_FORMAT(DATE, \\'%Y-%m-%d\\') as datei, avg(temp) as avgtemp, avg(humidity) as avghumi from sensor WHERE date >=  \\'' + dateF + '\\' AND date < \\'' +  dateE + '\\' GROUP BY DATE_FORMAT(date, \\'%Y%m%d\\') ORDER BY date ASC';\nmsg.payload = { name: 'Adrien', age: 30 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":760,"wires":[["64f7bf91.fca2b","f4f8514d.cac5a"]]},{"id":"cead0f00.02751","type":"function","z":"f44e0f12.4dd51","name":"Make Time Data","func":"var m = {};\nm.labels = [(msg.payload[0].datei)];\nvar data0 = [(msg.payload[0].avgtemp)];\nvar data1 = [(msg.payload[0].avghumi)]\nm.series = [\"temp\", 'humidity'];\nvar arrayLength = msg.payload.length;\nfor (var i = 0; i < arrayLength; i++) {\n    m.labels.push((msg.payload[i].datei));\n    data0.push((msg.payload[i].avgtemp));\n    data1.push((msg.payload[i].avghumi));\n}\nm.data = [data0, data1];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":800,"wires":[["36d01939.df2aa6","57da07d2.6198d8"]]},{"id":"64f7bf91.fca2b","type":"debug","z":"f44e0f12.4dd51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":740,"wires":[]},{"id":"36d01939.df2aa6","type":"debug","z":"f44e0f12.4dd51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":760,"wires":[]},{"id":"f4f8514d.cac5a","type":"Stackhero-MySQL","z":"f44e0f12.4dd51","server":"8ecbad02.4a884","name":"","x":650,"y":820,"wires":[["cead0f00.02751"]]},{"id":"405578d.56f8488","type":"ui_text_input","z":"f44e0f12.4dd51","name":"Month","label":"Month","tooltip":"","group":"99bcf64a.d8a8e8","order":1,"width":3,"height":1,"passthru":true,"mode":"month","delay":300,"topic":"","x":190,"y":620,"wires":[["392b0469.8d725c"]]},{"id":"94d1bf4.577d74","type":"ui_button","z":"f44e0f12.4dd51","name":"","group":"99bcf64a.d8a8e8","order":3,"width":5,"height":1,"passthru":false,"label":"Submit_Pie","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":760,"wires":[["62ea2a40.dac1e4"]]},{"id":"392b0469.8d725c","type":"function","z":"f44e0f12.4dd51","name":"Set Month to Flow Data","func":"flow.set('set_month', msg.payload);\n\nmsg.payload = new Date(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":620,"wires":[["862de56d.1197a8"]]},{"id":"862de56d.1197a8","type":"debug","z":"f44e0f12.4dd51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":620,"wires":[]},{"id":"57da07d2.6198d8","type":"ui_chart","z":"f44e0f12.4dd51","name":"","group":"99bcf64a.d8a8e8","order":5,"width":9,"height":8,"label":"Pie chart","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1120,"y":880,"wires":[[]]},{"id":"386305d3.f0bbfa","type":"config","z":"f44e0f12.4dd51","name":"INIT Flow Data","properties":[{"p":"start_date","pt":"flow","to":"msg.payload","tot":"str"},{"p":"end_date","pt":"flow","to":"msg.payload","tot":"str"}],"active":true,"x":410,"y":220,"wires":[]},{"id":"6024fe80.a1b6a","type":"ui_group","name":"Chart","tab":"bdb104ab.340ae8","order":1,"disp":true,"width":21,"collapse":false},{"id":"8ecbad02.4a884","type":"Stackhero-MySQL-Server","name":"","host":"127.0.0.1","port":"3306","tls":false,"database":"smartfarm"},{"id":"2a4e4539.2e99da","type":"ui_group","name":"Period","tab":"bdb104ab.340ae8","order":2,"disp":true,"width":21,"collapse":false},{"id":"99bcf64a.d8a8e8","type":"ui_group","name":"Time","tab":"bdb104ab.340ae8","order":3,"disp":true,"width":10,"collapse":false},{"id":"bdb104ab.340ae8","type":"ui_tab","name":"SF_OP1_Big data Visual","icon":"dashboard","order":3,"disabled":false,"hidden":false}]